

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	cursor: default;
} 

.wrapper {
	max-width: 1280px;
	margin: auto;
}

h1 {
	font-size: 2em;
	line-height: 1;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-family: 'Merriweather', serif;;
	font-size: 1.25em;
	font-weight: bold;
}

p {
	margin: 0 0 1.5em 0;
}

.button {
	font-family: 'Source Sans Pro', sans-serif;;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	word-spacing: .2em;
	background: rgb(0, 128, 0);
	color: black;
	display: block;
	text-align: center;
	padding: 10px;
	box-shadow: inset 0 -5px 0 rgba(0,0,0,.2);
	border-radius: 25px;
	margin-right: 35px;
}

#page-opener a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}


#page-opener {
	text-decoration: none;
	background: rgb(47, 25,25);
	color: rgb(100, 10, 10);
	overflow: hidden;
	border-bottom: 4px solid pink;
	padding: 0 3%;
}


#page-opener h1 {
	color: rgb(100, 10, 10);
	font-family: 'Oswald', serif;
	font-size: 3em;
	text-align: center;
	margin: 20px 0 0 0;
}

#page-opener nav li {
	list-style: none;
	float: left;
}

#page-opener nav a {
	display: block;
	padding: 25px 15px;
}

#page-opener nav li a:hover {
	color: pink;
}

#page-opener nav li.active a {
	background: #666;
}

#page-opener nav strong {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.container	{
	background-color: black;
}

.banner {
	background: url(../img/01_Consrv/01_walk_opener.JPG) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 3%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
}

.blurb {
	background: rgba(255,255,255,.6);
	width: 34%;
	margin: 0 auto;
	padding: 1%;
	float: right;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
}

#consrv {
	background: url(../img/01_Consrv/02_solowalk.JPG) center center no-repeat;
	background-size: cover;
	background-color: green;
	overflow: hidden;
	padding: 3%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
}


#hallett {
	background: url(../img/02hallet/001_hallet_gate2.JPG) center center no-repeat;
	background-size: cover;
	background-color: black;
	overflow: hidden;
	padding: 3%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
}

#shakesp {
	background: url(../img/03shakes/02_shkpspath.JPG) center center no-repeat;
	background-size: cover;
	background-color: black;
	overflow: hidden;
	padding: 3%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
}


article h1 {
	font-style: sans-serif;
	color: green;
}


footer {
	background: black;
	color: white;
	padding: 2% 3%;
	clear: both;
}


@media (max-width: 500px) {
	header nav, header h1 section {
		float: none;
	}	
	.wrapper  {
		float: none;
		width: 100%;
	}
	.container {
		float: none;
		width: 100%;
	}
	.blurb	{
		float: none;
		width: 100%;
	}
	#page-opener	{
		float: none;
		width: 100%;
	}
	#page-opener h1 {
		font-size: 1.5em;}
	}
	h1	{
		font-size: 1.5em;
	}
	article h1	{
		font-size: 1.2em;
	}



