.container {
	width: 85%;
	margin: 0 auto;
}

header {
	background-color: yellow;
	overflow: hidden;
	padding: 10px 25px;
}

header h1 {
	float: left;
	font-size: 30px;
}

header nav {
	margin-top: 6px;
	float: right;
}

header nav a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-left: 20px;
}

section {
	background-color: black;
	overflow: auto;
	padding: 10px;
}

article {
	background-color: white;
	width: 465px;
	float: left;
	padding: 30px;
	box-sizing: border-box;	
}

/* targets the 1st article; nth-child(2) would target the 2nd article*/
article:nth-child(1) {
	margin-right: 10px;
	float: left;
	width: 465px;
	box-sizing: border-box;
}

article h1 {
	font-size: 20px;
	text-align: center;
	padding: 5px 0;
}

@media (max-width: 700px) {
	.container {
		width: 100%;
	}

	header nav, header h1 {
		float: none;
	}
	header {
		text-align: center;
	}
	head nav a {
		margin-left: 10px;
	}
	article		{
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}


}












